.box-post {
  display: block;
  margin: 0 auto;
  width: 600px;
  height: 200px;
  // border: 1px solid #a6a6a6;
  border-radius: 10px;
  background-color: #fff;
}
.box-title{
  width: 95%;
  border-bottom: 2px solid $default;
  margin: 0 15px 20px 15px;
}
.input-title {
  width: 100%;
  height: 50px;
  outline: none;
  border: 0;
  box-shadow: 0;
  color: $default;
  font-weight: bold;
  font-size: 18px;
  padding-left: 20px;
}
.input-desc {
  width: 100%;
  height: 6em;
  outline: none;
  border: 0;
  box-shadow: 0;
  padding-left: 20px;
  margin-bottom: 10px;
}
.box-footer {
  height: 40px;
  width: 100%;
  background: #ccc;
  padding: 0 15px;
}
.btn-post {
  // background-color: $default;
  border-radius: 100%;
  border: 0;
  margin-left: 10px;
}
.btn-min {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.btn-max {
  width: 50px;
  height: 50px;
  margin-top: -5px;

}
.img-box {
  width: 100%;
  margin: 0;
}
body {
  background-color: #f1f1f2;
}
